.*

!.gitignore
!.gitattributes
!.gitkeep
!.github/
!.pre-commit-config.yaml
!.markdownlint.json
!.mega-linter.yml
!.npmrc
!.gitleaks.toml
!.gitleaksignore
!.secretlintignore
!.secretlintrc.json
!.sqlfluff
!.tbls.yml
!.yamlfmt
!.yamllint.yml
!.golangci*.yml
!.spectral.yaml
!.eslintrc.js
!.dockerfilelintrc
!.dockerignore
*.dot
!.air.toml
!.teamcity/

# draw.io
*:PG$Secure
*:Zone.Identifier

### Python ###
# Byte-compiled / optimized / DLL files
!.env
__pycache__/
*.py[cod]
*$py.class

**/node_modules

# Logs
logs
*.log
*-debug.log*
*-error.log*

# Temp directories
build
dist
dist-docs
docs/download
docs/api
docs/auth
out
dist-ssr

# Frontend
!frontend/.env.[dlpst]*

megalinter-reports/
