argon2-cffi
click
cryptography
hypothesis
Jinja2
markdown-callouts
mkdocs-material
openapi-python-client==0.29.0
openpyxl
pandas
psycopg[binary,pool]
pyjwt
pytest==9.1.1
python-dotenv
# ruff is a transitive dependency of openapi-python-client
# (pinned to avoid blank lines being generated in some local setups)
ruff==0.15.20
schemathesis==4.21.10
tabulate
Flask
