argon2-cffi
click
cryptography
hypothesis
Jinja2
markdown-callouts
mkdocs-material
openapi-python-client==0.28.0
openpyxl
pandas
psycopg[binary,pool]
pyjwt
pytest==8.4.2
python-dotenv
schemathesis==4.7.8
tabulate
Flask
