argon2-cffi
click
cryptography
hypothesis
Jinja2
markdown-callouts
mkdocs-material
openapi-python-client==0.28.1
openpyxl
pandas
psycopg[binary,pool]
pyjwt
pytest==9.0.2
python-dotenv
schemathesis==4.9.0
tabulate
Flask
