<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <logger name="no.elhub.flex" level="debug" />
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
