@theme {
  --color-elhub-green-100: var(--eds-global-color-elhub-brand-100);

  --color-blue-400: var(--eds-global-color-blue-400);
  --color-blue-500: var(--eds-global-color-blue-500);
  --color-blue-550: var(--eds-global-color-blue-550);
  --color-blue-600: var(--eds-global-color-blue-600);

  --color-green-150: var(--eds-global-color-green-150);
  --color-green-200: var(--eds-global-color-green-200);
  --color-green-300: var(--eds-global-color-green-300);
  --color-green-350: var(--eds-global-color-green-350);
  --color-green-400: var(--eds-global-color-green-400);
  --color-green-450: var(--eds-global-color-green-450);
  --color-green-500: var(--eds-global-color-green-500);
  --color-green-550: var(--eds-global-color-green-550);
  --color-green-600: var(--eds-global-color-green-600);
  --color-green-700: var(--eds-global-color-green-700);

  --color-red-400: var(--eds-global-color-red-400);
  --color-red-500: var(--eds-global-color-red-500);
  --color-red-500-50: var(--eds-global-color-red-500-50);
  --color-red-600: var(--eds-global-color-red-600);

  --color-yellow-400: var(--eds-global-color-yellow-400);
  --color-yellow-500: var(--eds-global-color-yellow-500);
  --color-yellow-600: var(--eds-global-color-yellow-600);

  --color-orange-300: var(--eds-global-color-orange-300);
  --color-orange-300-60: var(--eds-global-color-orange-300-60);
  --color-orange-500: var(--eds-global-color-orange-500);
  --color-orange-600: var(--eds-global-color-orange-600);
  --color-orange-700: var(--eds-global-color-orange-700);

  --color-purple-200: var(--eds-global-color-purple-200);
  --color-purple-300: var(--eds-global-color-purple-300);
  --color-purple-400: var(--eds-global-color-purple-400);
  --color-purple-500: var(--eds-global-color-purple-500);
  --color-purple-600: var(--eds-global-color-purple-600);
  --color-purple-700: var(--eds-global-color-purple-700);

  --color-grey-0: var(--eds-global-color-grey-0);
  --color-grey-100: var(--eds-global-color-grey-100);
  --color-grey-200: var(--eds-global-color-grey-200);
  --color-grey-300: var(--eds-global-color-grey-300);
  --color-grey-400: var(--eds-global-color-grey-400);
  --color-grey-500: var(--eds-global-color-grey-500);
  --color-grey-600: var(--eds-global-color-grey-600);
  --color-grey-600-60: var(--eds-global-color-grey-600-60);
  --color-grey-700: var(--eds-global-color-grey-700);
  --color-grey-800: var(--eds-global-color-grey-800);
  --color-grey-900: var(--eds-global-color-grey-900);

  --color-beige-300: var(--eds-global-color-beige-300);
  --color-beige-400: var(--eds-global-color-beige-400);
  --color-beige-400-50: var(--eds-global-color-beige-400-50);

  --color-brown-600: var(--eds-global-color-brown-600);

  --color-cosmic: var(--eds-color-cosmic);
  --color-cosmic-01: var(--eds-color-cosmic-01);
  --color-cosmic-02: var(--eds-color-cosmic-02);
  --color-cosmic-05: var(--eds-color-cosmic-05);
  --color-cosmic-10: var(--eds-color-cosmic-10);
  --color-cosmic-20: var(--eds-color-cosmic-20);
  --color-cosmic-30: var(--eds-color-cosmic-30);
  --color-cosmic-40: var(--eds-color-cosmic-40);
  --color-cosmic-50: var(--eds-color-cosmic-50);
  --color-cosmic-60: var(--eds-color-cosmic-60);
  --color-cosmic-70: var(--eds-color-cosmic-70);
  --color-cosmic-80: var(--eds-color-cosmic-80);
  --color-cosmic-90: var(--eds-color-cosmic-90);
  --color-cosmic-lighter10: var(--eds-color-cosmic-lighter10);
  --color-cosmic-lighter20: var(--eds-color-cosmic-lighter20);

  --color-cutty-sark-green: var(--eds-color-cutty-sark-green);
  --color-cutty-sark-green-05: var(--eds-color-cutty-sark-green-05);
  --color-cutty-sark-green-10: var(--eds-color-cutty-sark-green-10);
  --color-cutty-sark-green-110: var(--eds-color-cutty-sark-green-110);

  --color-razzmatazz-red: var(--eds-color-razzmatazz-red);
  --color-razzmatazz-red-05: var(--eds-color-razzmatazz-red-05);
  --color-razzmatazz-red-10: var(--eds-color-razzmatazz-red-10);
  --color-razzmatazz-red-105: var(--eds-color-razzmatazz-red-105);
  --color-razzmatazz-red-110: var(--eds-color-razzmatazz-red-110);

  --color-gorse-yellow: var(--eds-color-gorse-yellow);
  --color-gorse-yellow-05: var(--eds-color-gorse-yellow-05);
  --color-gorse-yellow-10: var(--eds-color-gorse-yellow-10);
  --color-gorse-yellow-20: var(--eds-color-gorse-yellow-20);
  --color-gorse-yellow-110: var(--eds-color-gorse-yellow-110);
  --color-gorse-yellow-130: var(--eds-color-gorse-yellow-130);

  --color-zodiac-blue: var(--eds-color-zodiac-blue);
  --color-zodiac-blue-01: var(--eds-color-zodiac-blue-01);
  --color-zodiac-blue-02: var(--eds-color-zodiac-blue-02);
  --color-zodiac-blue-05: var(--eds-color-zodiac-blue-05);
  --color-zodiac-blue-10: var(--eds-color-zodiac-blue-10);
  --color-zodiac-blue-20: var(--eds-color-zodiac-blue-20);
  --color-zodiac-blue-30: var(--eds-color-zodiac-blue-30);
  --color-zodiac-blue-40: var(--eds-color-zodiac-blue-40);
  --color-zodiac-blue-50: var(--eds-color-zodiac-blue-50);
  --color-zodiac-blue-60: var(--eds-color-zodiac-blue-60);
  --color-zodiac-blue-70: var(--eds-color-zodiac-blue-70);
  --color-zodiac-blue-80: var(--eds-color-zodiac-blue-80);
  --color-zodiac-blue-90: var(--eds-color-zodiac-blue-90);

  --color-cold-river-blue: var(--eds-color-cold-river-blue);
  --color-cold-river-blue-02: var(--eds-color-cold-river-blue-02);
  --color-cold-river-blue-05: var(--eds-color-cold-river-blue-05);
  --color-cold-river-blue-10: var(--eds-color-cold-river-blue-10);
  --color-cold-river-blue-20: var(--eds-color-cold-river-blue-20);
  --color-cold-river-blue-30: var(--eds-color-cold-river-blue-30);
  --color-cold-river-blue-40: var(--eds-color-cold-river-blue-40);
  --color-cold-river-blue-50: var(--eds-color-cold-river-blue-50);
  --color-cold-river-blue-60: var(--eds-color-cold-river-blue-60);
  --color-cold-river-blue-70: var(--eds-color-cold-river-blue-70);
  --color-cold-river-blue-80: var(--eds-color-cold-river-blue-80);
  --color-cold-river-blue-90: var(--eds-color-cold-river-blue-90);
  --color-cold-river-blue-110: var(--eds-color-cold-river-blue-110);

  --color-feedback-success-primary: var(--eds-color-feedback-success-primary);
  --color-feedback-success-secondary: var(
    --eds-color-feedback-success-secondary
  );
  --color-feedback-error-primary: var(--eds-color-feedback-error-primary);
  --color-feedback-error-secondary: var(--eds-color-feedback-error-secondary);
  --color-feedback-info-primary: var(--eds-color-feedback-info-primary);
  --color-feedback-info-secondary: var(--eds-color-feedback-info-secondary);
  --color-feedback-warning-primary: var(--eds-color-feedback-warning-primary);
  --color-feedback-warning-secondary: var(
    --eds-color-feedback-warning-secondary
  );

  --color-chart-1: var(--eds-global-color-chart-series-1);
  --color-chart-2: var(--eds-global-color-chart-series-2);
  --color-chart-3: var(--eds-global-color-chart-series-3);
  --color-chart-4: var(--eds-global-color-chart-series-4);
  --color-chart-5: var(--eds-global-color-chart-series-5);
  --color-chart-6: var(--eds-global-color-chart-series-6);
  --color-chart-7: var(--eds-global-color-chart-series-7);
  --color-chart-8: var(--eds-global-color-chart-series-8);
  --color-chart-9: var(--eds-figma-functional-chart-09);
  --color-chart-10: var(--eds-figma-functional-chart-10);
  --color-chart-11: var(--eds-figma-functional-chart-11);
  --color-chart-12: var(--eds-figma-functional-chart-12);
  --color-chart-13: var(--eds-figma-functional-chart-13);
  --color-chart-14: var(--eds-figma-functional-chart-14);
  --color-chart-15: var(--eds-figma-functional-chart-15);
  --color-chart-16: var(--eds-figma-functional-chart-16);
  --color-chart-17: var(--eds-figma-functional-chart-17);
  --color-chart-18: var(--eds-figma-functional-chart-18);
  --color-chart-19: var(--eds-figma-functional-chart-19);
  --color-chart-20: var(--eds-figma-functional-chart-20);
  --color-chart-21: var(--eds-figma-functional-chart-21);
  --color-chart-22: var(--eds-figma-functional-chart-22);

  --color-graph-pink: var(--eds-global-color-graph-pink);
  --color-graph-orange: var(--eds-global-color-graph-orange);
  --color-graph-brown: var(--eds-global-color-graph-brown);
  --color-graph-light-blue: var(--eds-global-color-graph-light-blue);
  --color-graph-grey-100: var(--eds-global-color-graph-grey-100);
  --color-graph-grey-80: var(--eds-global-color-graph-grey-80);
  --color-graph-red-100: var(--eds-global-color-graph-red-100);
  --color-graph-red-80: var(--eds-global-color-graph-red-80);
  --color-graph-red-60: var(--eds-global-color-graph-red-60);
  --color-graph-red-40: var(--eds-global-color-graph-red-40);
  --color-graph-dark-green-100: var(--eds-global-color-graph-dark-green-100);
  --color-graph-dark-green-80: var(--eds-global-color-graph-dark-green-80);
  --color-graph-dark-green-60: var(--eds-global-color-graph-dark-green-60);
  --color-graph-dark-green-40: var(--eds-global-color-graph-dark-green-40);
  --color-graph-green-100: var(--eds-global-color-graph-green-100);
  --color-graph-green-80: var(--eds-global-color-graph-green-80);
  --color-graph-green-60: var(--eds-global-color-graph-green-60);
  --color-graph-green-40: var(--eds-global-color-graph-green-40);
  --color-graph-purple-100: var(--eds-global-color-graph-purple-100);
  --color-graph-purple-80: var(--eds-global-color-graph-purple-80);
  --color-graph-purple-60: var(--eds-global-color-graph-purple-60);
  --color-graph-purple-40: var(--eds-global-color-graph-purple-40);
  --color-graph-blue-100: var(--eds-global-color-graph-blue-100);
  --color-graph-blue-80: var(--eds-global-color-graph-blue-80);
  --color-graph-blue-60: var(--eds-global-color-graph-blue-60);
  --color-graph-blue-40: var(--eds-global-color-graph-blue-40);

  --color-semantic-text: var(--eds-semantic-text);
  --color-semantic-text-inverted: var(--eds-semantic-text-inverted);
  --color-semantic-text-subtle: var(--eds-semantic-text-subtle);
  --color-semantic-text-disabled: var(--eds-semantic-text-disabled);
  --color-semantic-text-error: var(--eds-semantic-text-error);
  --color-semantic-text-success: var(--eds-semantic-text-success);
  --color-semantic-text-warning: var(--eds-semantic-text-warning);
  --color-semantic-text-information: var(--eds-semantic-text-information);
  --color-semantic-text-action: var(--eds-semantic-text-action);
  --color-semantic-text-action-visited-link: var(
    --eds-semantic-text-action-visited-link
  );
  --color-semantic-text-action-selected: var(
    --eds-semantic-text-action-selected
  );
  --color-semantic-text-action-hover: var(--eds-semantic-text-action-hover);

  --color-semantic-border: var(--eds-semantic-border);
  --color-semantic-border-alternative: var(--eds-semantic-border-alternative);
  --color-semantic-border-hover: var(--eds-semantic-border-hover);
  --color-semantic-border-active: var(--eds-semantic-border-active);
  --color-semantic-border-selected: var(--eds-semantic-border-selected);
  --color-semantic-border-disabled: var(--eds-semantic-border-disabled);
  --color-semantic-border-error: var(--eds-semantic-border-error);
  --color-semantic-border-success: var(--eds-semantic-border-success);
  --color-semantic-border-warning: var(--eds-semantic-border-warning);
  --color-semantic-border-information: var(--eds-semantic-border-information);
  --color-semantic-border-action-focus: var(--eds-semantic-border-action-focus);

  --color-semantic-background: var(--eds-semantic-background);
  --color-semantic-background-page: var(--eds-semantic-background-page);
  --color-semantic-background-inverted: var(--eds-semantic-background-inverted);
  --color-semantic-background-alternative: var(
    --eds-semantic-background-alternative
  );
  --color-semantic-background-disabled: var(--eds-semantic-background-disabled);
  --color-semantic-background-overlay: var(--eds-semantic-background-overlay);
  --color-semantic-background-success: var(--eds-semantic-background-success);
  --color-semantic-background-information: var(
    --eds-semantic-background-information
  );
  --color-semantic-background-comparison: var(
    --eds-semantic-background-comparison
  );
  --color-semantic-background-comparison-overlay: var(
    --eds-semantic-background-comparison-overlay
  );
  --color-semantic-background-error: var(--eds-semantic-background-error);
  --color-semantic-background-error-alternative: var(
    --eds-semantic-background-error-alternative
  );
  --color-semantic-background-warning: var(--eds-semantic-background-warning);
  --color-semantic-background-warning-alternative: var(
    --eds-semantic-background-warning-alternative
  );
  --color-semantic-background-action-primary: var(
    --eds-semantic-background-action-primary
  );
  --color-semantic-background-action-primary-hover: var(
    --eds-semantic-background-action-primary-hover
  );
  --color-semantic-background-action-primary-active: var(
    --eds-semantic-background-action-primary-active
  );
  --color-semantic-background-action-primary-disabled: var(
    --eds-semantic-background-action-primary-disabled
  );
  --color-semantic-background-action-secondary: var(
    --eds-semantic-background-action-secondary
  );
  --color-semantic-background-action-secondary-hover: var(
    --eds-semantic-background-action-secondary-hover
  );
  --color-semantic-background-action-secondary-active: var(
    --eds-semantic-background-action-secondary-active
  );
  --color-semantic-background-action-secondary-disabled: var(
    --eds-semantic-background-action-secondary-disabled
  );
  --color-semantic-background-action-secondary-selected: var(
    --eds-semantic-background-action-secondary-selected
  );
  --color-semantic-background-action-danger: var(
    --eds-semantic-background-action-danger
  );
  --color-semantic-background-action-danger-hover: var(
    --eds-semantic-background-action-danger-hover
  );
  --color-semantic-background-action-danger-active: var(
    --eds-semantic-background-action-danger-active
  );
  --color-semantic-background-action-danger-disabled: var(
    --eds-semantic-background-action-danger-disabled
  );

  --color-semantic-alternative-background: var(
    --eds-semantic-alternative-background
  );
  --color-semantic-alternative-icons-approved: var(
    --eds-semantic-alternative-icons-approved
  );
  --color-semantic-alternative-icons-failed: var(
    --eds-semantic-alternative-icons-failed
  );
  --color-semantic-alternative-icons-stopped: var(
    --eds-semantic-alternative-icons-stopped
  );
  --color-semantic-alternative-icons-ongoing: var(
    --eds-semantic-alternative-icons-ongoing
  );
  --color-semantic-alternative-icons-temporarily-stopped: var(
    --eds-semantic-alternative-icons-temporarily-stopped
  );
  --color-semantic-alternative-icons-approved-with-warning: var(
    --eds-semantic-alternative-icons-approved-with-warning
  );

  --font-family-sans: roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --spacing-0: 0;
  --spacing-px: 1px;
  --spacing-0\.5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2\.5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3\.5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-4\.5: 1.125rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-18: 4.5rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-48: 12rem;

  --radius-none: 0;
  --radius-sm: 2px;
  --radius: 4px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;

  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 2px -1px rgb(0 0 0 / 0.1), 0 1px 3px 0 rgb(0 0 0 / 0.1);
  --shadow: 0 2px 4px -2px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 2px 4px -2px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 4px 6px -4px rgb(0 0 0 / 0.1),
    0 10px 15px -3px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 8px 10px -6px rgb(0 0 0 / 0.1),
    0 25px 50px -5px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-focus: 10;
  --z-popover: 1000;
  --z-modal: 2000;
  --z-tooltip: 3000;
}
